.main {
    &__contents {
        width: 100%;
        margin: 0;
        display: flex;
    }

    &__sidebar {
        width: 20%;
        height: 95vh;
        background-color: lightblue;
    }

    &__router-view {
        width: 80%;
        border: 1px solid gray;
    }
}
