.main {
    &__header {
        margin: 0 5px;
    }

    &__footer {
        margin: 0 5px;
    }

    &__contents {
        margin: 0;
        display: flex;
    }

    &__sidebar {
        height: 95vh;
        padding: 0 5px;
        background-color: lightblue;
    }

    &__router-view {
        border: 1px solid gray;
    }
}
